*{
    padding: 0;
    margin: 0;
}


.infos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.card{
    border-radius: 10px;
    margin: 2vh;
}

img{
    height: 15vh;
}

li{
    list-style: none ;
}